section.features {
	background: #fafafa;
	border-top: 1px solid #e2e1e1;
	border-bottom: 1px solid #e2e1e1;
	.features-container {
		margin: auto;
		margin-top: 110px;
		width: 88%;

		.feature {
			margin-bottom: 70px;
			@media(max-width: 767px) {
				width: 100%;
				margin-bottom: 40px;
				text-align: center;
			}

			i.icon {
				color: #31b3ed;
				font-size: 3em;
				line-height: 1em;
				text-align: center;
				@media(min-width: 992px) {
					margin-right: 20px;
				}
			}

			> div {
				width: 80%;
				float: right;
				@media(max-width: 991px) {
					width: 100%;
					margin-top: 20px;
					float: none;
				}

				h4 {
					margin-top: 0;
					font-size: 17px;
					color: #53575f;
				}

				p {
					margin-top: 18px;
					font-size: 15px;
					line-height: 24px;
					color: #666;
					width: 95%;
				}
			}
		}
	}
}

.index-features {

	padding: 70px 0 40px;


	.features {
		margin: auto;
		margin-top: 110px;
		width: 88%;

		.icon {
			@media(min-width: 992px) {
				margin-right: 20px;
			}
		}

		.feature {
			margin-bottom: 70px;

			@media(max-width: 767px) {
				width: 100%;
				margin-bottom: 40px;
				text-align: center;
			}
		}

		section {
			width: 83%;
			float: right;

			@media(max-width: 991px) {
				width: 100%;
				margin-top: 20px;
				float: none;
			}

			h4 {
				margin-top: 0;
				font-size: 17px;
				color: #53575f;
			}

			p {
				margin-top: 18px;
				font-size: 15px;
				line-height: 24px;
				color: #666;
				width: 95%;
			}
		}
	}
}